.container {
    display:flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
.container2{
    display :flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
.card {
    width: 16rem;
    height: 290px;
    box-shadow: 0 4px 8px 0 rgba(248, 246, 248, 0.952);
    border-radius: 15px;
    overflow: hidden;
}
.card:hover {
    background-color: rgb(185, 30, 185)
}
.card img {
    width: 100%;
    height: 110px;
    display: block;
}
.card-body{
    padding: 20px;
}

         .btn-grad {background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
 .iklan{
    width: 20rem;
    box-shadow: 0 4px 8px 0 rgba(239, 20, 247, 0.2);
    border-radius: 20px;
    overflow: hidden;
}
.iklan img {
    width: 100%;
    height: 170px;
    display: block;
}
 .kategori{
    width: 3rem;
    box-shadow: 0 4px 8px 0 rgba(239, 20, 247, 0.2);
    border-radius: 100%;
    overflow: hidden;
}
.kategori img {
    width: 99%;
    height: 90px;
    display: block;
}